* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

body {
    max-width: 90%;
    margin: auto;
}

.left-nav {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;

}

.right-nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.right-nav>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.right-nav>a:hover {
    text-decoration: underline;
}


.mobileNav {
    display: none;

}

.openDrawer {
    transform: translateX(-160px);
}

.mobileNav>a {
    color: black;
    text-decoration: none;
    margin: 25px 0;
}

.mobileNav>a:hover {
    text-decoration: underline;
}

/*mobile nav media query */
@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {

    .mobileNav {
        width: 86px;
        background-color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 69px;
        right: 0px;
        padding: 16px;
        transition: transform 1.5s;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    .mobileNav {
        width: 86px;
        background-color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 69px;
        right: 0px;
        padding: 16px;
        transition: transform 1.5s;
    }

}

@media screen and (max-width: 600px) {

    .mobileNav {
        width: 86px;
        background-color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 69px;
        right: 0px;
        padding: 16px;
        transition: transform 1.5s;
    }

}

img[alt="menu"] {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

.animateBar1 {
    animation: flipBar1 1s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 1s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 1s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(45deg) translate(4px, 10px);
    }
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }

    to {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-45deg) translate(4px, -10px);
    }
}

.hamburger {
    display: none;
}

img[alt="dribble"],
img[alt="instagram"],
img[alt="vimeo"] {
    width: 24px;
    height: 24px;
}

img[alt="dribble-mobile"],
img[alt="instagram-mobile"],
img[alt="vimeo-mobile"] {
    width: 24px;
    height: 24px;
    margin: 25px 0;
}



.grid-container {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-areas:
        "eth eth alpha"
        "eth eth traveler"
        "astro cube traveler"
        "cup insta insta"
        "foam foam dimensional";
}

#eth {
    grid-area: eth;
}

#alpha {
    grid-area: alpha;
}

#traveler {
    grid-area: traveler;
}

#astro {
    grid-area: astro;
}

#cube {
    grid-area: cube;
}

#cup {
    grid-area: cup;
}

#insta {
    grid-area: insta;
}

#foam {
    grid-area: foam;
}

#dimensional {
    grid-area: dimensional;
}

.inner {
    position: relative;
}

.white {
    color: white;
}

img[alt="eth"],
img[alt="traveler"],
img[alt="cube"],
img[alt="foam"],
img[alt="astro"],
img[alt="cup"],
img[alt="insta"],
img[alt="alpha"],
img[alt="dimensional"] {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.overlay {
    background-color: rgb(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.7s ease;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}




/* grid container media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    nav {
        padding: 20px 55px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
    }

    .grid-container {
        grid-template-areas:
            "eth eth alpha"
            "eth eth traveler"
            "astro cube traveler"
            "cup insta insta"
            "foam foam dimensional";
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {
    nav {
        padding: 20px 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
    }

    .grid-container {
        grid-template-areas:
            "eth eth"
            "alpha traveler"
            "astro cube"
            "insta insta"
            "cup foam"
            "dimensional dimensional";
    }

    body {
        max-width: 96%;
    }

    .right-nav {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu"] {
        display: block;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    nav {
        padding: 20px 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
    }

    .grid-container {
        grid-template-areas:
            "eth eth"
            "alpha traveler"
            "astro cube"
            "insta insta"
            "cup foam"
            "dimensional dimensional";
    }

    body {
        max-width: 96%;
    }

    .right-nav {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .display {
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu"] {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding: 20px 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
    }

    .grid-container {
        grid-template-areas:
            "eth eth"
            "alpha alpha"
            "traveler traveler"
            "astro astro"
            "cube cube"
            "insta insta"
            "cup cup"
            "foam foam"
            "dimensional dimensional";
    }

    body {
        max-width: 96%;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .display {
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .right-nav {
        display: none;
    }

    img[alt="menu"] {
        display: block;
    }
}


footer {
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}